@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anek Telugu', sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    color: #1F2937;
    }


.container {
    margin: 0 auto;
    padding: 0 30px;
}
/*-------------------------------------------------*/
.navbar {
    background: #1F2937;
    height: 150px;
    padding-top: 15px;
    
}
 .navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bolder;
 }
 .navbar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
 }

 .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
 }
 .navbar ul {
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}
.navbar ul li {
    margin-left: 20px;
}
/*-------------------------------------------------*/
.header {
    background: #1F2937;
    height: 300px;
    align-items: center;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h1 {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: extra-bold;
    width: 550px;
    display: flex;
}

p {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    width: 550px;
}

button {
    background: #3882F6;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;

}

.header img {
    max-width: 400px;
    display: flex;
}
/*-------------------------------------------------*/
.aboutus{
    height: 300px;
}

.container .aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h2 {
    width: 1100px;
    display: flex;
    justify-content: center;
}

.box {
    width: 140px;
    height: 140px;
    outline-style: solid;
    outline-color: #3882F6;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.box p {
    display: flex;
    flex-direction: column;
}
/*-------------------------------------------------*/

.quote .container {
    background: #E5E7EB;
    height: 350px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p:first-child {
    color: black;
    width: 500px;
    line-height: normal;
    font-size: 36px;
   
}

.container p:nth-child(2) {
    color: black;
    align-self: flex-end;
}
/*-------------------------------------------------*/

section .cta {
    display: flex;
    background: white;
    color: white;

}

.cta .container {
    background: #3882F6;
    width: 800px;
    height: 150px;
    margin: 20px;
    color: white;
    border-radius: 8px;
    display: flex;
}

.cta p:first-child {
    color: white;
    font-weight: lighter;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
}

.cta p:nth-child(2) {
    color: white;
    font-size: 12px;
    display: flex;

    flex-direction: column;
    justify-content: center;
}

/*-------------------------------------------------*/

footer {
    background: #1F2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}